*{
	box-sizing: border-box;
}
body
{
	background: url(../images/bg.jpg) repeat left top scroll;
	height: 633px;
	margin: 0;
}
#bg-top
{
	background-color: rgba(255, 255, 255, 0.4);
	height: 250px;
	width: 100%;
}
#container-top{
	width: 1156px;
	margin: auto;
}
#logo
{
	float: left;
	height: 230px;
	padding-left: 0px;
	margin: 20px 21px;
	width: 169px;
}
#to
{
	float: left;
	height: 256px;
	width: 680px;
	margin: 0 30px;
}
#top-center-bg{
	background-image: url(../images/top.png);
	width: 680px;
	height: 350px;
	padding: 47px 18px 0 18px;
	margin: -50px 0px 0px -10px;
}
#contact-logo
{
	float: left;
	height: 58px;
	padding-left: 23px;
	margin: 153px -30px;
	width: 247px;
	padding-right: 0px;
}
#menu{
	float: left;
	margin-left: -150px;
	width: 336px;
	margin-top: -75px;	
}
#menu ul{
	list-style-type: none;
}
#menu li{
	line-height: 50px;
	color: #6C6C6C;
	visibility: inherit;
	font-size: 12px;
	text-decoration: none;
	letter-spacing: 1px;
	text-align: right;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	vertical-align: middle;
	height: 50px;
}
#menu li.selected{
	opacity: 0.4;
	font-size: 14px;
	color: #E41D13;
	font-weight: bold;
	letter-spacing: 2px;
}
#menu li.hover{
	background-color: #E41D13;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: bold;
	opacity: 0.4;
	cursor: pointer;
	letter-spacing: 2px;
	color: black;
}
#menu li p{
	margin-right: 20px;
}
#menu li a:visited, a:hover, a:active, a:link{
	text-decoration: none;
	color: inherit;
}
#site{
	float: left;
	margin: -20px 0 0 65px;
};