*{
	box-sizing: border-box;
}
body
{
	background: url(../images/bg.jpg) repeat left top scroll;
	height: 633px;
	margin: 0;
}
#bg-top
{
	background-color: rgba(255, 255, 255, 0.4);
	height: 250px;
	width: 100%;
}
#container-top{
	width: 1156px;
	margin: auto;
}
#logo
{
	float: left;
	height: 230px;
	padding-left: 0px;
	margin: 20px 21px;
	width: 169px;
}
#to
{
	float: left;
	height: 256px;
	width: 680px;
	margin: 0 30px;
}
#top-center-bg{
	background-image: url(../images/top.png);
	width: 680px;
	height: 350px;
	padding: 47px 18px 0 18px;
	margin: -50px 0px 0px -10px;
}
#contact-logo
{
	float: left;
	height: 58px;
	padding-left: 23px;
	margin: 153px -30px;
	width: 247px;
}
#menu{
	float: left;
	margin-left: 100px;
	width: 336px;
	
}
#menu ul{
	list-style-type: none;
}
#menu li{
	color: #E41D13;
	visibility: inherit;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}