*{
	box-sizing: border-box;
}
body
{
	background: url(../images/bg.jpg) repeat left top scroll;
	height: 633px;
	margin: 0;
}
#bg-top
{
	background-color: rgba(255, 255, 255, 0.4);
	height: 250px;
	width: 100%;
}
#container-top{
	width: 1156px;
	margin: auto;
}
#logo
{
	float: left;
	height: 230px;
	padding-left: 0px;
	margin-top: 20px;
	width: 169px;
}
#to
{
	float: left;
	height: 256px;
	width: 680px;
	margin: 0 30px;
}
#top-center-bg{
	background-image: url(../images/top.png);
	width: 680px;
	height: 350px;
	padding: 47px 18px 0 18px;
	margin-top: -47px;
}
#contact-logo
{
	float: left;
	height: 58px;
	padding-right: 0px;
	margin-top: 156px;
	width: 247px;
}